apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: metallb-ip-pool
  namespace: metallb-system
spec:
  addresses:
{% for ip_range in metallb_ip_range %}
  - {{ ip_range }}
{% endfor %}
  